<div class="flex flex-grow flex-col justify-center items-center">
  <p class="text-white text-6xl mb-8">美しい短歌を生成しましょう</p>
  <p class="text-white text-2xl mb-8">あなたの今の気持ちを、AIが短歌にします。</p>
  <% if logged_in? %>
    <div class="flex space-x-4">
      <%= link_to "短歌をつくる", new_post_path, class: "bg-pink-400 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded" %>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "bg-sky-400 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% else %>
    <div class="flex space-x-4">
      <%= link_to "短歌をつくる", new_post_path, class: "bg-pink-400 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
