<div class="mx-auto max-w-4xl p-8 bg-white bg-opacity-90 rounded-lg shadow-lg">
  <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">お問い合わせ</h1>
  <div class="prose prose-lg mx-auto">
    <p>ご質問やご意見などがございましたら、以下のTwitterリンクからお問い合わせください。</p>
    <div class="text-center mt-8">
      <%= link_to "お問い合わせ窓口", "https://twitter.com/your_support_account", class: "inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700" %>
    </div>
    <p class="mt-6">Twitterのアカウントをお持ちでない場合は、以下のメールアドレスまでご連絡ください。</p>
    <p class="text-center text-lg font-bold">support@example.com</p>
  </div>
  <%= link_to 'トップページに戻る', root_path, class: 'block text-center mt-6 text-blue-500 hover:underline' %>
</div>

