<!DOCTYPE html>
<html>
<head>
  <title>Internal Server Error</title>
</head>
<body>
  <div class="text-center text-white">
    <h1>Internal Server Error</h1>
    <p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>
    <%= link_to 'トップページへ戻る', root_path %>
  </div>
</body>
</html>
