<!DOCTYPE html>
<html>
<head>
  <title>Internal Server Error</title>
</head>
<body>
  <div class="text-center text-white">
    <h1>Internal Server Error</h1>
    </br>
    <p>何らかのエラーにより、正常に処理が完了しませんでした。</p>
    <p>お手数おかけいたしますが、再度お試しください。</p>
    <p>なお、エラーが頻発するようでしたら、ページ下部「お問い合わせ」より管理人へお問い合わせください。</p>
    </br>
    <%= link_to 'トップページへ戻る', root_path %>
  </div>
</body>
</html>
