<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
</head>
<body>
  <div class="text-center text-white">
  <h1>Page Not Found</h1>
  </br>
  <p>ページが見つかりませんでした。</p>
  <p>お手数おかけいたしますが、トップページへお戻りください。</p>
  </br>
  <%= link_to 'トップページへ戻る', root_path %>
</body>
</html>
