<div class="wrapper max-w-md mx-auto">
  <div class="card">
    <div class="card-front flex items-center justify-center" style="writing-mode: vertical-rl;">
      <%= post.content %>
    </div>
    <div class="card-back">
      <div class="card-description" style="writing-mode: vertical-rl;">
        <%= post.title %>
      </div>
        <a href="#" class="card-link">詳細</a>
        <% if current_user == post.user %>
          <%= link_to '削除', post_path(post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
