<div class="wrapper max-w-md mx-auto">
  <div class="card">
    <div class="card-front flex items-center justify-center" style="writing-mode: vertical-rl;">
      <%= post.content %>
    </div>
    <div class="card-back">
      <div class="card-description" style="writing-mode: vertical-rl;">
        <%= post.title %>
      </div>
      <%= link_to "Share on X", "https://twitter.com/intent/tweet?text=#{CGI.escape(post.content)}", class: "bg-pink-400 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded mb-4 text-center", target: "_blank" %>
        <% if current_user == post.user %>
          <%= link_to '削除', post_path(post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
