<%= search_form_for @q, url: url, html: { class: "flex justify-center items-center bg-white shadow-md relative" } do |f| %>
  <div data-controller="autocomplete" data-autocomplete-url-value="/search" role="combobox">
    <%= f.search_field :title_or_content_cont, data: { autocomplete_target: 'input' }, placeholder: 'Search', class: "w-full px-6 py-2 leading-tight text-gray-700 focus:outline-none" %>
    <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
    <div data-autocomplete-target="results" class="w-full max-h-64 overflow-auto bg-white border border-gray-300 shadow-lg absolute"></div>
  </div>
  <%= f.submit '検索', class: "px-6 py-2 text-gray bg-sky-300 hover:bg-blue-600 focus:outline-none" %>
<% end %>