<div class="flex flex-col items-center justify-center flex-grow">
  <div class="backdrop-blur-sm border p-6 shadow-md max-w-md w-full space-y-8">
    <div>
      <h1 class="font-bold text-4xl text-white text-center">短歌生成フォーム</h1>
    </div>
    <%= form_with model: @posts, url: select_posts_path, method: :post, data: { turbo: false }, class: "mt-8 space-y-6", id: "myForm" do |f| %>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :title, class: "sr-only" %>
          <%= f.text_field :title, class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "短歌にしたい文章を入力してください" %>
        </div>
      </div>
      <div>
        <%= f.submit "作成する", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-bold text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>

<!-- モーダルウィンドウ -->
<div id="myModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
  <div class="bg-white p-6 rounded-lg shadow-md w-11/12 max-w-lg">
    <p class="text-lg font-bold mb-4 text-center">短歌生成中につき、しばらくお待ちください...</p>
    <p class="text-sm font-bold text-gray-900">短歌とは？</p>
    <p class="text-sm text-gray-700">和歌のひとつの形式です。</p>
    <p class="text-sm text-gray-700">5・7・5・7・7の5句31音を基準とします。</p>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the form that opens the modal
  var form = document.getElementById("myForm");

  // When the user submits the form, open the modal 
  form.addEventListener('submit', (event) => {
    modal.classList.remove('hidden');
  });
</script>