<div>
  <h1 class="font-bold text-4xl">Posts#new</h1>
</div>

<%= form_with model: @posts, url: generate_tanka_posts_path, method: :post, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "短歌にしたい言葉を入力してください" %>
  </div>
  <div>
    <%= f.submit "作成する" %>
  </div>
<% end %>

