<div class="flex flex-col items-center justify-center flex-grow">
  <div class="backdrop-blur-sm border p-6 shadow-md max-w-md w-full space-y-8">
    <div>
      <h1 class="font-bold text-4xl text-white text-center">短歌生成フォーム</h1>
    </div>
    <%= form_with model: @posts, url: select_posts_path, method: :post, data: { turbo: false }, class: "mt-8 space-y-6", id: "myForm" do |f| %>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :title, class: "sr-only" %>
          <%= f.text_field :title, class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "短歌にしたい文章を入力してください" %>
        </div>
      </div>
      <div>
        <%= f.submit "作成する", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-bold text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>

<!-- モーダルウィンドウ -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <p>処理中です。しばらくお待ちください...</p>
  </div>
</div>

<style>
  /* モーダルウィンドウのスタイル */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
</style>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the form that opens the modal
  var form = document.getElementById("myForm");

  // When the user submits the form, open the modal 
  form.addEventListener('submit', (event) => {
    modal.style.display = "block";
  });
</script>
